/* Em src/components/AdminLayout/AdminLayout.css */
.admin-layout-header {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.header-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-top-bar h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.back-button {
    background-color: #555;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
    white-space: nowrap; /* Evita que o texto quebre a linha */
}

.back-button:hover {
    background-color: #777;
}

.admin-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid #555;
    padding-top: 15px;
}

.admin-nav-link {
    color: #f0f0f0;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.admin-nav-link:hover {
    background-color: #555;
}

/* Estilo para o link da página ativa */
.admin-nav-link.active {
    background-color: #007bff;
    color: white;
}